@font-face {
    font-family: Minecraft;
    src: url(Minecraft.ttf)
}
h1 {
    font-family: Minecraft;
    font-size: 64px;
    background-image: linear-gradient(to bottom, black, rgba(0,0,0,0)), url(images.jpeg);
    color: lightgreen;
    border:3px;
    border-style: double;
    border-color: rgba(0,0,0,0.4);
    text-align: center;
}
h2 {
    font-family: Minecraft;
    background-color: rgba(100,255,100,0.08);
    color: rgb(172, 98, 187);
    font-size: 36px;
    text-align: center;
}
ul {
    font-family: Minecraft;
    background-color: rgba(255,255,50,0.08);
    color:bisque;
    text-align: justify;
}
ol {
    font-family: Minecraft;
    background-color: rgba(255,255,50,0.08);
    color:bisque;
    text-align: justify;
}
body {
    background-image: url(dirt.png)
}
p {
    font-family: Minecraft;
    background-color: rgba(155,0,185,0.06);
    background-blend-mode: color-dodge;
    color: wheat;
    text-align: justify;
}
.textosub {
    font-family: Minecraft;
    background-color: rgba(155,0,185,0.15);
    background-blend-mode: color-dodge;
    color: wheat;
    text-align: justify;
    text-decoration: underline;
}
.sustitulo{
    width: 600px;
    height: 150px;
}
.titulo{
    width: 800px;
    height: 150px;
}
a:link {
    color: rgba(200,0,255);
    text-decoration: none;
}
a:hover {
    color: rgb(0, 255, 34);
    text-decoration: none;
}
a:active {
    color: rgb(255, 0, 191);
    text-decoration: none;
}
a:visited {
    color: rgb(187, 100, 100);
    text-decoration: none;
}
.icon {
    width:16px;
    height:16px;
    display: inline-block;
    border-style:solid;
    border-radius: 1px;
    border-color: wheat;
}
nav {
    font-family: Minecraft;
    background-color: rgba(255,255,50,0.08);
}